[global]
interval=20

[mqttauth]
server = spacegate.mainframe.lan
port = 8883
username =
password =
clientid = ap2mqtt
basepath = /net/wlan
session-path = /net/wlan-sessions

[cliauth]
server =
port = 23
username =
password =

[ruckus]
server =
port = 23
username =
password =