[mqttauth]
server = spacegate.mainframe.lan
port = 8883
certfile = /etc/spacegate.mainframe.lan.crt
username =
password =
clientid = ap2mqtt
basepath = /net/wlan
session-path = /net/wlan-sessions

[cliauth]
server =
port = 23
username =
password =