[Unit]
Description=WLAN AP2mqtt
After=network.target

[Service]
Type=simple
User=network-monitoring
Group=network-monitoring
ExecStart=/home/network-monitoring/ap2mqtt/ap2mqtt.py
# or for venv
#ExecStart=/home/network-monitoring/ap2mqtt/venv/bin/python3 /home/network-monitoring/ap2mqtt/ap2mqtt.py
WorkingDirectory=/home/network-monitoring/ap2mqtt/
StandardOutput=journal
StandardError=journal

# restart on fail
Restart=always
RestartSec=60

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
